<div class="row title">
  <h2 align="center">Add a new Doctor</h2>
</div>
<form
  align="center"
  #addDoctorForm="ngForm"
  (ngSubmit)="addDoctor(doctorName.value)"
>
  <table align="center">
    <tr>
      <th align="justify"><label>Doctor Name</label></th>
      <th>
        <input
          type="text"
          id="add_doctorName"
          class="form-control cwinput"
          name="doctorName"
          #doctorName="ngModel"
          ngModel
          required
        />

        <div id="add_validate_doctorName" class="text-danger-validation">
          <div
            *ngIf="
              doctorName.invalid && (doctorName.dirty || doctorName.touched)
            "
            class="text-danger"
          >
            <div *ngIf="doctorName.errors?.['required']">
              Doctor Name is required.
            </div>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th></th>
      <th align="justify">
        <button class="btn" type="submit" [disabled]="addDoctorForm.invalid">
          Add Doctor</button
        >&nbsp;&nbsp;
        <a routerLink="/class" routerLinkActive="active">Cancel</a>
      </th>
    </tr>
  </table>
  <div *ngIf="showDiv" style="color: red; text-align: center">
    {{ msg }}
  </div>
</form>
